Source: ceph-dkms
Section: net
Priority: extra
Maintainer: Thomas Mueller <thomas@chaschperli.ch>
Build-Depends: debhelper (>= 7.4.2~)
Standards-Version: 3.8.4
Vcs-Git: http://ceph.newdream.net/git/ceph-client-standalone.git
Vcs-Browser: http://ceph.newdream.net/git/?p=ceph-client-standalone.git;a=summary
Homepage: http://ceph.newdream.net

Package: ceph-dkms
Architecture: all
Replaces: ceph-kclient-source
Depends: ${shlibs:Depends}, ${misc:Depends}, dkms
Description: ceph fs kernel driver [DKMS driver source]
 .
 This package provides the Linux kernel module source which has been
 prepared for use with DKMS.
