#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
# Copyright © 2010 Paul McEnery <pmcenery@gmail.com>

# Variables
DEBVERS  := $(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2 \
		| cut -d- -f1)
VERSION  := $(shell echo '$(DEBVERS)' | sed -e 's/[+-].*//' -e 's/~//g')

%:
	dh $@

# Build ipeth-pair binary only
override_dh_auto_build:

override_dh_clean:


# Remove the dh_auto_install step
override_dh_auto_install:
	install -d $(CURDIR)/debian/tmp/usr/src/ceph-$(VERSION)

	tar cvf - --exclude=debian ./ | (cd $(CURDIR)/debian/tmp/usr/src/ceph-$(VERSION); tar -xvf - )
